<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="content align-middle" role="main">
  <h1>Hello world!</h1>
  
  <div class="number-display">
    <b>Counter:</b> {{counter}}
  </div>
  
  <div class="phrase-display">
    <b>Text:</b> {{phrase}}
  </div>
  
  
  <div class="cars-view">
    <p>Cars:</p>
    <ul>
      <li *ngFor="let car of cars">
        {{ car.make }} {{car.model}} {{car.miles}}
      </li>
    </ul>
    <input class="hsep" [(ngModel)]="carMake" placeholder="Make">
    <input class="hsep" [(ngModel)]="carModel" placeholder="Model">
    <input class="hsep" [(ngModel)]="carMiles" placeholder="Miles">
  </div>
  
  <p><b>Username:</b> {{username}}</p>
  <input [(ngModel)]="username" placeholder="enter a username">
  <br>
  
  <p style="margin-top: 5%;">
    <button class="btn btn-warning hsep" (click)="increment()"> Add +1 </button>
    <button class="btn btn-primary hsep" (click)="updatePhrase()"> Add text </button>
    <button class="btn btn-success hsep" (click)="addCar()">Add Car</button>
  </p>
  
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
