.content {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hsep {
    margin-top: 3%;
    margin-right: 3%;
}

.cars-view {
    border: 3px solid grey;
    padding: 5px;
}